<!--creates the dropdown menu -->
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Ananogram</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/">Home</a>
    <a href="/about">About Us</a>
  </div>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>



<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
<br></br>

    <span class="polaroid">
      <p>Chris Iba</p>
      <img class ="img" src="/images/chris.jpg" />
    </span>

    <span class="polaroid">
      <p>Patrick Tan</p>
      <img class = "img" src="/images/DSC05221-min.jpg" />
    </span>

    <span class="polaroid">
      <p>Thomas Zhang</p>
      <img class= "img"src="/images/thomas.jpg" />
    </span>

    <span class = "poltextcont">
      <text class = "poltext">hi im chris</text>
    </span>

    <span class ="poltextcont">
      <text class = "poltext">hi im patrick</text>
    </span>

    <span class = "poltextcont">
      <text class ="poltext"> hi im thomas</text>
    </span>

  </head>

<!-- links the css file -->
<div>
  <link rel = "stylesheet" type = "text/css" href = "/styles/about.css"/>
</div>
