<form id="form" action ='/form' method="post">

<link rel = "stylesheet" type = "text/css" href = "/styles/form.css"/>

<div class="container">
  <input type="hidden" name="recipient" value="recipient">
  <h2>Recipient Information</h2>
    <h3>Phone Number: </h3>
    <input class = "textarea" type="text" name="phone" placeholder="##########">
    <h3>Inspirational Quote: </h3>
    <input class = "textarea" type="text" name="quote" placeholder="You can do it!">
    <br></br>

    Select the image to send them: <br><br>

    <input type="radio" name="img" value="1">Image 1
    <img id = "img1" src="/photos/photo1.JPG" alt="image 1">
    <br>
    <input type="radio" name="img" value="2">Image 2
    <img id = "img2" src="/photos/photo2.jpg" alt="image 2">
    <br>
    <input type="radio" name="img" value="3">Image 3
    <img id = "img3" src="/photos/photo3.jpg" alt="image 3">
    <br>
    <input type="radio" name="img" value="4">Image 4
    <img id = "img4" src="/photos/photo4.jpg" alt="image 4">
    <br>
        <button class = "button" type="submit"><span>Submit</span></button>
      </br>

</form>

</div>
